@use "./functions.scss" as *;

.headingh1 {
  color: hsl(220, 13%, 13%);
}
.mobileNavbar {
  display: flex;
  justify-content: space-between;

  @include mediaMin(750px) {
    display: none;
  }

  div {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.desktopNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  @include mediaMax(750px) {
    display: none;
  }
  ul {
    display: flex;
    gap: 2rem;
    align-items: center;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: hsl(219, 9%, 45%);
        &:hover {
          color: hsl(220, 13%, 13%);
        }
      }
    }
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
