@use "../styles/functions.scss" as *;

.mobilenavbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-grayish-blue);

  @include media(750px) {
    display: none;
  }

  div {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
